@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
}
#content_container {
  width: 30%;
  height: 70%;
}
#form_container {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.19);
  border-radius: 2%;
  overflow: hidden;
}

#form_header_container {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid transparent;
  background: #fdda0d;
}

#form_header {
  display: inline-block;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #252525;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#form_content_container {
  width: 100%;
  height: 90%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;
  float: left;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  background: #f6f6f6;
  border: 2px solid black;
  font-weight: 500;
  color: #151515;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;
}

#button_container {
  width: 100%;
  height: 10%;
  color: #252525;
  float: left;
  font-size: 16px;
  margin-top: 5px;
  background-color: #fdda0d;
}

#button_container button {
  width: 50%;
  height: 100%;
  float: left;
  border: 2px solid white;
  background: transparent;
  color: inherit;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
#button_container button:hover{
  background-color: #303030;
  color: white;
}
